@charset "utf-8";

@font-face {
  font-family: 'Daughter_handwriting';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Daughter_handwriting.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body * {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}


/* 메인 페이지 */

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.main-img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  animation-fill-mode: forwards;
}

.main-text-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 2rem;
  text-align: center;
}

.main-text {
  font-family: 'Daughter_handwriting';
  font-size: 5.5rem;
  color: rgb(107, 50, 99);
}

.main-text2 {
  font-size: 2.5rem;
  font-family: 'Daughter_handwriting';
  color: rgb(182, 103, 140);
}

.main-text-blink,
.main-text-blink2 {
  animation: blink 0.8s infinite;
  font-size: 4.5rem;
  font-family: 'Daughter_handwriting';
  color: rgb(107, 50, 99);
}

.main-text-blink2 {
  display: none;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.main-bt {
  position: absolute;
  top: 44%;
  left: calc(50% - 55px);
  width: 110px;
  height: 50px;
  background-color: rgba(120, 55, 92, 0.8);
  border-radius: 15px;
  text-align: center;
  line-height: 45px;
  font-family: 'Daughter_handwriting';
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0;
}

.main-bt:hover {
  background-color: rgba(120, 55, 92, 1);
  color: rgb(255, 255, 154);
  box-shadow: 0 0 50px rgb(255, 255, 154);
}

.bg7 {
  top: 2%;
}

/* main - 버튼 클릭시 애니메이션 */

@keyframes con {
  30% {
    position: absolute;
    height: 0;
    bottom: 0;
  }

  60% {
    position: absolute;
    height: 45%;
    bottom: 0;
  }

  100% {
    position: absolute;
    height: 100%;
    bottom: 0;
  }
}

@keyframes bg {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes bg1 {
  0% {
    top: 0;
  }

  30% {
    top: -80px;
    transform: scale(1.05);
  }

  60% {
    top: 80px;
    opacity: 1;
    transform: scale(1);
  }

  99% {
    top: 300px;
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@keyframes bg2 {
  30% {
    top: 0;
  }

  60% {
    top: -10%;
  }

  100% {
    top: -18%;
    display: none;
  }
}

@keyframes bg3 {
  30% {
    top: 0;
  }

  60% {
    top: -15%;
  }

  100% {
    top: -30%;
    display: none;
  }
}

@keyframes bg4 {
  30% {
    top: 0;
  }

  60% {
    top: -20%;
  }

  100% {
    top: -45%;
    display: none;
  }
}

@keyframes bg5 {
  30% {
    top: 0;
  }

  60% {
    top: -30%;
  }

  100% {
    top: -50%;
    display: none;
  }
}

@keyframes bg6 {
  30% {
    top: 0;
  }

  60% {
    top: -35%;
  }

  100% {
    top: -65%;
    display: none;
  }
}

@keyframes bg7 {
  30% {
    top: 2%;
  }

  60% {
    top: -40%;
  }

  100% {
    top: -75%;
    display: none;
  }
}

@keyframes bg8 {
  30% {
    top: 0;
  }

  60% {
    top: -45%;
  }

  100% {
    top: -100%;
    display: none;
  }
}


/* 콘텐츠 */

.contents-wrap {
  background-color: #270c29;
  width: 100%;
  height: 0px;
  position: relative;
  z-index: 20;
}

.lighting {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 40;
  display: none;
}

.lighting>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
}

.lighting-s {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 245, 136, 0.4);
  border-radius: 100%;
  animation: li-s 3s 1;
}

.lighting-l {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 245, 136, 0.2);
  border-radius: 100%;
  animation: li-l 3s 1;
}

@keyframes con2 {
  0% {
    background-color: #270c29;
  }

  25% {
    background-color: #320f35;
  }

  65% {
    background-color: #301546;
  }

  100% {
    background-color: #a898cf;
  }
}

@keyframes li-s {
  0% {
    opacity: 0;
    width: 300px;
    height: 300px;
  }

  25% {
    opacity: 0.2;
    width: 350px;
    height: 350px;
  }

  45% {
    opacity: 0.4;
  }

  65% {
    opacity: 0.8;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes li-l {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.2;
    width: 400px;
    height: 400px;
  }

  45% {
    opacity: 0.4;
  }

  65% {
    opacity: 0.8;
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.check-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: all 1s;
}

.check-wrap:hover {
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check-memo {
  position: absolute;
  top: 100%;
  left: calc(50% - 250px);
  width: 500px;
  height: 700px;
  opacity: 0;
  transition: all 1.5s;
}

.check-memo>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.check-text {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  font-family: 'Middleschool_student';
  color: #0a0808;
  z-index: 100;
}

.check-text p {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: #0d090e;
  letter-spacing: 2px;
}

.check-text span {
  font-size: 2rem;
  color: #160724;
  text-align: left;
  padding: 0 90px;
  line-height: 70px;
  cursor: pointer;
  transition: all 0.2s;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.check-text .check:hover span {
  font-size: 2.2rem;
  font-weight: bold;
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check:hover .check-v {
  opacity: 1;
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check:hover .check-box {
  opacity: 0;
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check-text .check:hover .check-bar {
  width: 110px;
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check {
  position: relative;
}

.check-box {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 70px;
  width: 40px;
  height: 40px;
  transition: all 0.2s;
}

.check-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.check-v {
  position: absolute;
  top: 15px;
  left: 65px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
}

.check-v img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.check-bar {
  position: absolute;
  top: 45px;
  left: 130px;
  width: 0px;
  height: 12px;
  transition: all 0.3s;
  overflow: hidden;
}

.check-bar img {
  width: 110px;
  height: 100%;
}

.check-sub {
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 30;
  top: 10%;
  left: -100%;
  transition: all 1s;
}

.check-sub:hover {
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.check-sub .check {
  top: 20%;
}

.check-sub .check-box,
.check-sub .check-v {
  left: 10px;
}

.check-sub .check-v {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
}

.check-sub span {
  padding-left: 15px;
  font-family: 'Middleschool_student';
  font-size: 1.6rem;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.check-sub .check-bar img {
  width: 90px;
  height: 100%;
}

.check-sub .check-bar {
  width: 0;
  left: 55px;
  overflow: hidden;
}

.check-sub .check:hover .check-bar {
  width: 90px;
}

.check-sub .check:hover span {
  font-weight: bold;
}

.check-sub .check {
  left: -100%;
  transition: all 1s;
  margin: 8px 0;
}

/* class on이 붙었을 때 */

.check-text .check.on .check-v {
  opacity: 1;
}

.check-text .check.on .check-bar {
  width: 90px;
}

.check-sub .check.on .check-v {
  opacity: 1;
}

.check-sub .check.on .check-bar {
  width: 90px;
}

.check-sub .check.on span {
  font-weight: bold;
}

.check-sub .check.on .check-box {
  opacity: 0;
}


/* 리스트 컨텐츠 영역 */
.con-wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  /* transition: all 0.6s; */
  display: none;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.con-wrap::-webkit-scrollbar {
  display: none;
  /* 크롬, 사파리, 오페라, 엣지 */
}

.con-wrap:hover {
  cursor: url(../images/cursor-p.png) 5 25, pointer;
}

.con-wrap > div {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.con1 {
  transition: all 0.8s;
  transition-delay: 0.2s;
  background-color: #d2cfee;
  overflow: hidden;
}

.con2 {
  transition: all 0.8s;
  transition-delay: 0.2s;
  background-color: #fff;
}

.con3 {
  transition: all 0.8s;
  transition-delay: 0.2s;
  background-image: url(../images/con3-bg.JPG);
}

.con4 {
  transition: all 0.8s;
  transition-delay: 0.2s;
  background-color: #fff;
}

.con1-img-wrap {
  width: 100%;
  height: 100%;
}

.con1-img-wrap img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  object-fit: cover;
  object-position: center top;
  transition: all 0.4s;
}

.t-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.con1-img-wrap>img:first-child {
  animation: bling 2.5s infinite;
}


.con1-img-wrap>img:nth-child(3) {
  animation: eyes 3s infinite;
}

.t1.on,
.t2.on,
.t3.on,
.t4.on {
  top: -10px;
  opacity: 1;
}

.t1,
.t2,
.t3,
.t4 {
  top: 50px;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.6s;
}

@keyframes bling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes eyes {
  0% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  94% {
    opacity: 0;
  }

  96% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* skill 영역 */

.skill-wrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 0 100px;
}

.skill-contents {
  position: relative;
  left: calc(50% - 600px);
  width: 1200px;
  margin-top: 10%;
}

.skill-contents>div {
  padding: 20px 20px;
  height: 90px;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 20px;
  border: 3px solid #dedce9;
  transition: all 0.6s;
}

.skill-contents>div>ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.skill-contents>div>ul>li {
  width: 120px;
  margin: 0 22px;
  text-align: center;
  background-color: rgba(235, 235, 243, 0.6);
  border-radius: 30px;
  padding: 10px 0;
}

.skill-contents>div>p {
  font-size: 2.4rem;
  color: #333;
  border-bottom: 2px solid #dedce9;
  padding-bottom: 15px;
  padding-left: 40px;
  font-weight: bold;
}

.skill-contents>div>span {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skill-contents>div>span>img {
  width: 100px;
  margin: 30px;
  border-radius: 20px;
  transition: all 0.2s;
}


.skill-contents .skill-tool {
  margin-top: 5%;
}

.skill.show {
  height: 350px;
}

@media (max-width: 1600px) {
  .skill-contents {
    left: 15%;
    width: 90%;
    overflow: hidden;
  }

  .skill.show {
    height: 250px;
  }
  
  .skill-contents>div>span>img {
    width: 5%;
    margin: 20px;
    border-radius: 10px;
    transition: all 0.2s;
  }
  
  .skill-contents>div>ul {
    font-size: 1rem;
    justify-content: space-around;
  }

  .skill-contents>div>ul>li {
    margin: 0 22px;
    text-align: center;
  }
}

/* portfolio 영역 */

.portfolio-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/portfolio-bg.jpg);
  border-top: 3px solid #dedce9;
  overflow: hidden;
}

.portfolio-title {
  position: relative;
  top: 80px;
  width: 100%;
  height: 100px;
  text-align: center;
  /* opacity: 0; */
  transition: all 0.4s;
}

.portfolio-title.show {
  opacity: 1;
  top: 100px;
}

.portfolio-title > p {
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(-120deg, #d68cec 20%, #c1bbff 50%, #6bd1f0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'RixInooAriDuriR';
  text-align: center;
  letter-spacing: 2px;
  margin-left: 30px;
}

.portfolio-con-wrap {
  margin-top: 150px;
  width: 100%;
  height: 650px;
}

.portfolio-con {
  position: relative;
  width: 200%;
  left: calc(50% - 330px);
  transition: all 0.6s;
}

.portfolio {
  float: left;
  top: 0;
  left: calc(50% + 300px);
  width: 580px;
  border-radius: 15px;
  padding: 50px 20px;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  margin-left: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: all 0.6s;
}

.portfolio.on {
  opacity: 1;
}

.portfolio-img {
  width: 100%;
  height: 300px;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portfolio-text {
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

.portfolio-text p {
  font-family: 'RixInooAriDuriR';
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 2px;
}

.portfolio-text span {
  display: block;
  font-size: 1.4rem;
  height: 50px;
  color: #666;
  margin-bottom: 40px;
  margin-top: 30px;
}

.portfolio-text a {
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid #dedce9;
  border-radius: 10px;
  transition: all 0.2s;
  padding: 10px;
  color: #838192;
}

.portfolio-text a:hover {
  color: #a24af5;
  border-color: #a24af5;
}

.portfolio-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 300px);
  height: 100vh;
}

.portfolio-prev i {
  position: relative;
  left: calc(100% - 250px);
  top: 45%;
  font-size: 6rem;
  color: #fff;
  transition: all 0.2s;
  padding: 10px 35px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.05);
}

.portfolio-prev i:hover {
  transform: scale(1.1);
}

.portfolio-next {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - 300px);
  height: 100vh;
}

.portfolio-next i {
  position: relative;
  left: 150px;
  top: 45%;
  font-size: 6rem;
  color: #fff;
  transition: all 0.2s;
  padding: 10px 35px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio-next i:hover {
  transform: scale(1.1);
}

/* need me 영역 */

.line {
  position: relative;
  width: 100%;
  background-image: url(../images/portfolio-bg.jpg);
  padding-top: 80px;
}

.line-wrap img {
  position: relative;
  width: 100%;
  height: 100%;
}

.need-wrap {
  position: relative;
  top: 150px;
  width: 100%;
  height: 600px;
  background-color: #fff;
  display: flex;
  padding: 60px 0;
}

.need-left {
  width: 50%;
  height: 100%;
  text-align: right;
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 50px;
  border-right: 3px solid #eee;
}

.need-left p {
  color: #333;
  display: inline-block;
  margin-top: 5px;
  margin-right: 50px;
}

.need-left span {
  display: block;
  font-size: 4rem;
  margin-top: 20px;
  margin-right: 50px;
}

.need-right {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 60px;
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
  color: #666;
}

.need-right span {
  position: relative;
  z-index: 10;
  display: block;
  height: 100px;
}

.need-line {
  position: absolute;
  width: 0;
  margin-top: 3px;
  margin-left: -5px;
  height: 35px;
  background: linear-gradient(-120deg, #d68cec 20%, #c1bbff 50%, #6bd1f0);
  transition: all 0.4s;
}

.need-text.on .need-line {
  width: 600px;
}

.need-text.on span {
  color: #fff;
}

/* footer 영역 */

@keyframes color {
  0% {
  color: #c1bbff;
  }
  33% {
  color: #d68cec;
  }
  66% {
  color: #6bd1f0;
  }
  100% {
  color: #c1bbff;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #dedce9;
  margin-top: -50px;
  text-align: center;
  padding-top: 40px;
  color: #333;
}

footer p {
  font-size: 2rem;
}

footer a {
  display: block;
  height: 100px;
  font-size: 3.4rem;
  line-height: 100px;
  color: #333;
  font-weight: bold;
  transition: all 0.2s;
}

footer a:hover {
  animation: color 2s infinite;
}